---
---

.wrapper {
    margin: auto;
    max-width: 920px;
}

body {
    margin: 0;
    font-family: 'Open sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

nav,
footer {
    display: flex;
    flex-direction: row;
    font-size: 1.1em;
    align-items: center;
    font-weight: 700;
    justify-content: space-between;
    height: 70px;
    padding: 0 30px;
}

header {
    font-weight: 700;
    text-align: center;
    padding: .5em 1.5em 3em 1.5em;
}

section {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    padding: 1.5em;
    font-weight: 300;
    background: #f8f8f8;
}

.dark {
    background-color: #5386E4;
    color: white;
     a {
        color: white;
        text-decoration: none;
    }
}

a:hover,
a:focus {
    text-decoration: underline;
}