.page-info {
  section {
    padding: 100px 0;
  }

  .faq {
    background: #297afb;
    color: white;
  }

  .faq b {
    font-size: 22px;
    line-height: 1.5;
  }

  .faq p {
    color: #d3e4fe;
  }

  .img-sm {
    display: block;
    width: 80%;
    margin: auto;
  }

  .example {
    font-size: 13px;
    background: #f2f2f2;
    padding: 10px;
    text-align: center;
  }
}
