<!DOCTYPE html>
<html lang="es">

  {{> head }}

  <body class="error">

    {{> nav }}

    {{> error-message }}

    {{> footer }}

  </body>

<script type="text/javascript" src="index.js"></script>

</html>
