<!DOCTYPE html>
<html>

  {{> head }}

  <body class="page-index">

    {{> nav }}

    {{> header }}

    <section class="container container--light">
      <div class="wrapper">
        <p>Nos hemos dado cuenta de que casi todo el mundo pertenece a algún team de Slack en el que hay un canal destinado a compartir y opinar sobre ofertas de empleo.</p>
        <p>Por eso, hemos creado una applicación para Slack que permite compartir y votar estas ofertas a través de un <a href="#example">simple comando.</a></p>
        <p>Todas las ofertas, junto con sus votaciones, son subidas a un <a href="/jobs.html">listado público de forma gratuita.</a></p>

        {{!-- <img src="./assets/images/example-laptop.png" alt=""> --}}
      </div>
    </section>

    <section class="container container--dark">
      <div class="wrapper">

        <h2>¿Cómo funciona?</h2>

        <ul>
          <li>
            <p>1. Instala la aplicación de Slack en el canal donde compartís las ofertas.</p>
            <a href="https://slack.com/oauth/authorize?scope=incoming-webhook,commands+team%3Aread&client_id=277656191908.277104326417&redirect_uri=https://sauce-jobs-staging.herokuapp.com/login">
              <img alt="Añadir a Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"/>
            </a>
          </li>
          <li>
            <p>2. Publica ofertas de trabajo de manera automática.</p>
            <img src="" alt="">
          </li>
          <li>
            <p>3. Vota las ofertas.</p>
            <img src="" alt="">
          </li>
        </ul>
      </div>
    </section>

    <section class="container container--light" id="example">
      <div class="wrapper">
        <h2>Un solo comando</h2>

        <p>
          Utiliza el comando <span class="example--code">/job</span> para publicar las ofertas automáticamente por el canal en el que hayas instalado la aplicación.
        </p>

        <div class="example">
          <p>> /job <span>Ingeniero de software</span> <span class="example--company">@ CARTO</span> <span class="example--location">Madrid/Remote</span> <span class="example--salary">€50-60K</span> <span class="example--link">https://example.com/job/123</span></p>
        </div>

        <p>
          Lo único necesario es un link a la oferta original, aunque recomendamos adjuntar estos campos con el siguiente formato:
        </p>

        <ul class="example-list">
          <li>
            <p>Descripción breve: Ingeniero de software</p>
          </li>
          <li>
            <p>Empresa: @ CARTO</p>
          </li>
          <li>
            <p>Lugar: Madrid/Remote</p>
          </li>
          <li>
            <p>Rango salarial: €50-60K</p>
          </li>
        </ul>

      </div>
    </section>

  </body>

<script type="text/javascript" src="index.js"></script>

</html>
