<!DOCTYPE html>
<html lang="es">

{{> head }}

<body class="page-privacy">

  {{> nav }}

  <section class="container container--dark">
    <div class="wrapper">
      <h1>Privacidad y seguridad</h1>

      <p>
        En Salsa Jobs queremos que nuestra política de privacidad sea breve y comprensible.
      </p>

      <p>
        En Salsa Jobs no almacenamos ningún tipo de información personal de los usuarios y al igual que la mayoría de las webs utilizamos cookies junto a servicios de terceros (Google Analytics) con el fin de mejorar nuestro producto. Asumimos que cualquier usuario
        ha leído y acepta estos términos.
      </p>

      <p>
        Nos reservamos el derecho de modificar esta política de privacidad, por favor revísala frecuentemente. Cambios y aclaraciones entrarán en vigencia inmediatamente después de su publicación en el sitio web.
      </p>
    </div>
  </section>

  {{> footer }}
  
</body>

<script type="text/javascript" src="index.js"></script>

</html>
