<!DOCTYPE html>
<html>

  {{> head }}

  <body class="page-welcome">

    {{> header }}

    <section>
      <div class="wrapper">
        <h1>¡Gracias por instalar SalsaJobs!</h1>
      </div>
    </section>

  </body>

<script type="text/javascript" src="index.js"></script>

</html>
