<!DOCTYPE html>
<html>

  {{> head }}

  <body class="page-welcome">

    {{> nav }}

    <header class="page-header">
      <h1>¡Gracias por instalar SalsaJobs!</h1>

      <img src="./assets/images/salsa-jobs-yellow.png" alt="SalsaJobs logo" class="page-logo">

      <p>Para compartir tu primera oferta, mira cómo utilizar el comando <a href="/index.html#example">/jobs</a></p>
    </header>


    {{!-- <section class="container container--dark">
      <div class="wrapper">

      </div>
    </section> --}}

  </body>

</html>
