<!DOCTYPE html>
<html>

  {{> head }}

  <body class="page-welcome">

    {{> nav }}

    <section class="container container--dark">
      <div class="wrapper">
        <h1>¡Gracias por instalar Salsa Jobs!</h1>

        <img src="./assets/images/salsa-jobs-yellow.png" alt="SalsaJobs logo" class="page-logo">

        <p>Para compartir tu primera oferta, mira cómo utilizar el comando <a href="/index.html#example">/jobs</a></p>
        <p>No olvides echar un vistazo a las <a href="/jobs.html">ofertas más votadas</a></p>
      </div>
    </section>

    {{> footer }}

  </body>

</html>
