<section id="error">
    <div class="wrapper">
        <h1>Error </h1>
        <p>
            Ha ocurrido un error realizando la operación. Si el problema persiste ponte en contacto con nosotros a través de github para
            obtener ayuda.
        </p>
    </div>
</section>
