<footer id="footer" class="container container--dark page-footer">
  <ul>
    <li><a href="/jobs.html">Lista de ofertas</a></li>
    <li><a href="/privacy.html">Privacidad</a></li>
    <li><a href="/feedback.html">Feedback</a></li>
    <li><a href="/contact.html">Contacto</a></li>
    <li><a href="https://twitter.com">Twitter</a></li>
  </ul>

  <p class="page-footer--copyright">Copyright © 2018 Salsa Jobs</p>
</footer>
