<footer id="footer" class="container container--dark page-footer">
  <ul>
    <li>
      <a href="/jobs.html">Lista de ofertas</a>
    </li>
    <li>
      <a href="/privacy.html">Privacidad</a>
    </li>
    <li>{{> contact }}</li>
  </ul>
</footer>