<header class="page-header">
  <h1>Te presentamos Salsa Jobs</h1>

  <h2>Las ofertas de trabajo que vota la comunidad tecnológica.</h2>

  <img src="./assets/images/salsa-jobs-yellow.png" alt="SalsaJobs logo" class="page-logo">

  <a href="https://slack.com/oauth/authorize?scope=incoming-webhook,commands+team%3Aread&client_id=277656191908.277104326417&redirect_uri=https://sauce-jobs-staging.herokuapp.com/login">
    <img alt="Añadir a Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"/>
  </a>
</header>
