<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Salsa Jobs</title>

  <link rel="stylesheet" type="text/css" href="/assets/style.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
  <link rel="manifest" href="/salsa.webmanifest">
  <link rel="manifest" href="/salsa.webmanifest">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700|Source+Code+Pro:500" rel="stylesheet">
  <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#2898fb">
  <meta name="apple-mobile-web-app-title" content="Salsa Jobs">
  <meta name="application-name" content="Salsa Jobs">
  <meta name="msapplication-TileColor" content="#2898fb">
  <meta name="theme-color" content="#ffffff">
</head>
