<header class="page-header">

  <h2>Las ofertas de trabajo que vota la comunidad tecnológica</h2>

  <img src="./assets/images/salsa-jobs-yellow.png" alt="SalsaJobs logo" class="page-logo">

  {{> slack-button}}

</header>
