<nav class="nav">
  <ul class="nav-list">
    <li>
      <a href="/">
        <img class="nav-logo" src="./assets/images/salsa-jobs-logo-yellow.png" alt="Salsa Jobs logo"/>
        SalsaJobs
      </a>
    </li>
    <li><a href="/contact.html">Contacto</a></li>
    <li><a href="/privacy.html">Privacidad</a></li>
    <li><a href="/feedback.html">Feedback</a></li>
  </ul>
</nav>
