<nav class="nav">
  <ul class="nav-list">
    <li>
      <a href="/">
        <img class="nav-logo" src="./assets/images/salsa-jobs-logo-yellow.png" alt="Salsa Jobs logo"/>
        Salsa Jobs
      </a>
    </li>
  </ul>
</nav>
