.page-header {
    text-align: center;
    background: linear-gradient(#eb5115, #ff9a00, #ff9a00, #eb5115);
    color: white;
    padding: 5em 3em;

    p {
      font-size: 1.2em;

      a {
        display: inline-block;
        color: inherit;
      }
    }
}

.page-header .page-logo {
    width: 250px;
    height: auto;
    margin: 1em 0;
}

.page-header h1 {
    margin: 0;
    font-size: 5em;
    line-height: 1;
}

.page-header h2 {
    margin: 1em 0;
    font-size: 1.8em;
    font-weight: 400
}

.page-header a {
    margin: 2em 0 0 0;
    display: block;
}
