.page-header {
    text-align: center;
    background: $color-main;
    color: white;
    padding: 5em 3em 8em 3em;
    font-weight: 700;

    p {
      font-size: 1.5em;
      font-weight: 700;

      a {
        display: inline-block;
        color: #006781;
        margin: 0;
      }
    }
}

.page-logo {
  width: 250px;
  height: auto;
  margin: 1em 0;
}

.page-logo-error {
  transform: rotate(180deg);
}

.page-header h2 {
    margin: .5em 0;
    font-size: 4em;
    font-weight: 700;
    line-height: 1;
}

.page-header a {
    margin: 2em 0 0 0;
    display: block;
}

@media (max-width: 600px) {
  .page-header {
    padding: 2em 3em 5em 3em;
  }

  .page-header h2 {
    font-size: 2em;
  }
}
