
.nav {
  background-color: $color-main;
  padding: 1.5em;
  font-weight: 700;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
  }
}