.nav {
  background-color: #eb5115;
}

.nav-logo {
  width: 15px;
  margin-right: 7.5px;
}

.nav-list {
  margin: 0;
  padding: 1em;
  list-style-type: none;
  display: grid;
  grid-template-columns: 70% 10% 10% 10%;

  li {
    text-align: left;

    a {
      text-decoration: none;
      color: white;
      display: flex;
      align-items: center;
    }
  }
}
